* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --bg-color: #4CE0B3;
  --second-bg-color: #CB2C00;
  --third-color: #ED4A55;
  --fourth-color: #000;
}

body {
  font-size: 15pt;
  height: 100vh;
  background-color: ghostwhite;
  /* background-color: black; */
}

#icon{
  display: none;
  font-size: 300%;
  color: burlywood;
  position: relative;
  top: 25%;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: whitesmoke;
  /* color: midnightblue; */
  background-color: transparent;
  border: none;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  margin: auto;
  font-size: 40px
}

button:last-child {
  background-color: var(--second-bg-color);
  color: ghostwhite;
  padding-bottom: 10px;
}

button.digit.operator {
  background-color: var(--bg-color);
  color: #000;
}

button.digit {
  background-color: orangered
}

button.digit.but {
  color: var(--fourth-color);
}

.container {
  display: grid;
  position: fixed;
  bottom: 0px;
  right: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  margin: auto;
  row-gap: 20px;
  background-color: #000;
  column-gap: 0;
}

#input {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: fixed;
  bottom: 480px;
  left : 10%;
  height: 100%;
  width: 90%;
  font-size: 60px;
  color: #000;
  z-index: 1;
  font-weight: 500;
  word-wrap: break-word;
  white-space: normal;
  /* color: midnightblue; */
  height: 30%;
}
